
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F2F3F7 !important;
    height: 100%;
    overflow-x: hidden;
    max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.posts-title{
 
 
    span{
      text-align: center;
    }
    a{
      color:#fff ;
      text-decoration: none;
      text-align: center;
    }
  
}
.posts{
 margin-top: 2vh;
 overflow-x: hidden;
  .post{
    background: #fff;
     padding: 10px;
     border-radius: 10px;
    
     height: 20vh;
    margin-bottom: 4vh;
    cursor: pointer;
  }
}
.post-details{
  background: #fff;
    margin-top: 10vh;
    border-radius: 10px;
    padding: 30px;
  
  
}

.css-1qsstus-MuiButtonGroup-root {
  overflow-x: hidden;
  .MuiButtonGroup-grouped{
    border-color: #FF4F00 !important;
    &:hover{
      background-color: #e35300;
    }
    &.active{
      background-color: #e35300;
    }
  }

}
@media(max-width:600px){
  .css-1qsstus-MuiButtonGroup-root {
    position: absolute;
    top: 100vh;
    .number-button{
   display: none;
  
  }
  
}
body{
  overflow-y: hidden;
}
}